.manu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
}
.manu-item{
    display: flex;
}
.manu-item li{
    list-style: none;
    margin: 5px;
    padding: 10px; 
    font-size: 18px;
}
.manu-item li:hover{
    color: blue;
    cursor: pointer;    
}
.banner-container{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
}
.title1{
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}
.text{
    font-size: 25px;
    margin: 10px;
}
.banner-btn{
    padding: 18px 38px;
    background-color: rgb(244, 6, 45);
    margin: 10px;
    font-size: 18px;
    color: white;
}