.manu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
}
.manu-item{
    display: flex;
}
.manu-item li{
    list-style: none;
    margin: 5px;
    padding: 10px; 
    font-size: 18px;
}
.manu-item li:hover{
    color: blue;
    cursor: pointer;    
}
.banner-container{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
}
.title1{
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}
.text{
    font-size: 25px;
    margin: 10px;
}
.banner-btn{
    padding: 18px 38px;
    background-color: rgb(244, 6, 45);
    margin: 10px;
    font-size: 18px;
    color: white;
}
.title2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-two{
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 350px;
    height: 250PX;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
}
.card1:hover{
    border: 1px solid rgb(243, 29, 29);
    margin-top: -20px;
    transition: .8ms;
}
.gym-icon{
    width: 50px;
}
.about-container{
    display: flex;
    background-color: black;
    color: white;
    /*justify-content: space-evenly;
    align-items: center;*/
}
.about-left{
    width: 700px;
}
.about-right{
    width: 700px;
}
.workout-image{
    display: flex;
    margin: 50px;
}
.workout-image img{
    display: flex;
    width: 350px;
    height: 550px;
    transform: skewY(-15deg);
}
.btn-text{
    text-decoration: none;
    color: white;
}